.card-training{
    width: 320px;
    height: 320px;
    background-color: white;
    transition: 1s;
}

.card-training .info-training{
    display: none;
}

.card-training-img{
    height: 60%;
    width: 100%;
    background-image: url(../../../assets/MAPS.svg);
    border-radius: 0px 0 24px 24px;
}



.card-training img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.info{
    padding: 16px 0 16px 24px;
}

.card-training .btn-training{
    display: flex;
    justify-content: center;
}

.card-training .btn-training button{
    border-radius: 24px;
    background-color: var(--color-1);
    border-style: none;
    width: 80px;
    height: 24px;
}

.card-training .btn-training button:hover{
    width: 88px;
    height: 32px;
}

.card-training:hover{
    width: 400px;
    height: 350px;
    .card-training-img{
        opacity: 0;
        display: none;
    }
    .info-training{
        display: flex;
        height: 60%;
        width: 100%;
        padding: 16px 0 0 24px;
    }

}