
<div class="container-home">
    <div class="home">
        <h1 class="title">
            Butterflying
        </h1>
        <div class="body-intro">
            <div class="left-intro">
                <img src="../../../assets/Imagem feliz.png" class="img-intro">
            </div>
            <div class="right-intro">
                <p class="text-intro">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repellat blanditiis, aperiam consequatur dolores harum! Commodi maiores vero eligendi</p>
                <div class="button-intro">
                    <button class="button">Compre já</button>
                </div>
            </div>
        </div>
    </div>
</div>