
.header{
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    padding: 19px 108px 19px 108px;
}

.header .links{
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 32px;
}

a{
    color: white;
}