<div class="header">
    <img class="logo" src="../../../assets/Logo simples 1.svg" alt="">
    <ul class="links">
        <li>
            <a href="#home">HOME</a>
        </li>
        <li>
            <a href="#" routerLink="/passaporte">PASSAPORTES</a>
        </li>
        <li>
            <a href="#" routerLink="/treinamento">TREINAMENTOS</a>
        </li>
        <li>
            <a href="#sobre">SOBRE</a>
        </li>
        <li>
            <a href="#contato">CONTATO</a>
        </li>
    </ul>
    <div></div>
</div>