<div class="container-about">
    <div class="general about">
        <div class="title title-about">
            <h1>Sobre</h1>
        </div>
        <div class="body body-about">
            <div class="left left-about">
                <h2>Empresa</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure libero molestiae, vel iusto eos, voluptas accusantium, itaque laudantium explicabo iste soluta odio nam distinctio eius. Consequatur consequuntur cupiditate reprehenderit beatae.</p>
            </div>
            <div class=" right right-about">
                <img class="img-about" src="../../../assets/Imagem feliz.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-dream">
    <div class="general dream">
        <div class="title title-dream">
            <h1>Sobre</h1>
        </div>
        <div class="body body-dream">
            <div class="left left-dream">
                <img class="img-dream" src="../../../assets/Imagem feliz.png" alt="">
            </div>
            <div class="right right-dream">
                
                <h2>Sonho</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure libero molestiae, vel iusto eos, voluptas accusantium, itaque laudantium explicabo iste soluta odio nam distinctio eius. Consequatur consequuntur cupiditate reprehenderit beatae.</p>
            </div>
        </div>
    </div>
</div>