.container-pass{
    background-color: var(--color-1);
    padding: 0 108px 0 108px;
    height: 86vh;
}

.title-pass{
    color: var(--color-4);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.title-pass h1{
    font-size: 64px;
}

.body-pass{
    background-color: var(--color-2);
    height: 75%;
    border-radius: 64px;
}

.card{
    display: flex;
    
}