<div class="contact">
    <div class="contact-title">
        <h1>Contato</h1>
    </div>
    <div class="contact-body">
        <div class="contact-left">
            <h2>Endereço</h2>
            <p>Rua XV de Novembro, 458 - CENTRO
                <br>Marília, SP, 17500-050
            </p>
            <h2>Telefone</h2>
            <p>(14)98128-6291</p>
            <h2>Email</h2>
            <p>frank@sosalergia.com.br</p>
        </div>
        <div class="contact-right">
            <img src="../../../assets/MAPS.svg" alt="">
        </div>
    </div>
</div>